.box{
    display: flex;
    border: 1px solid green;
    justify-content: center;
    flex-direction: column;
    div {
    border: 1px solid blue;
}
}
.box-grid{
    display: grid;
    grid-template-columns: 30px 30px 30px;
    border: 1px solid orange;
    gap: 20px;
    div{
        border: 1px solid lawngreen;
    }
}
